/*
* Stylesheet for miscellaneous rules.
*/

body {
	overflow-x: hidden;
}

img {
	background-color: #fff;
}

/*
* Style the top-navigation.
*/
.top-nav {
	-webkit-box-shadow: #ced4da 0 -5px 15px 0;
	-moz-box-shadow: #ced4da 0 -5px 15px 0;
	box-shadow: #ced4da 0 -5px 15px 0;
}

/*
* For certain animations, the backface of an element can become visible. Prevent this.
*/
.main {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}
