/*
* Stylesheet for miscellaneous rules.
*/

body {
	overflow-x: hidden;
}

img {
	background-color: #fff;
}

/*
* Style the top-navigation.
*/
.top-nav {
	background-color: #ffffff;

	-webkit-box-shadow: #ced4da 0 -5px 15px 0;
	-moz-box-shadow: #ced4da 0 -5px 15px 0;
	box-shadow: #ced4da 0 -5px 15px 0;
}

/*
* For certain animations, the backface of an element can become visible. Prevent this.
*/
.main {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

/*
* Code.
*/

.main pre {
	overflow: auto;
	background-color: #f7f7f7;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/*
* Code containers should have slightly rounded corners and have a light gray background, similar to GitHub.
*/
.main code {
	background-color: #fff; /* fallback */
	background-color: rgba(0,0,0,0.04);

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.main pre code {
	overflow: visible;
	background-color: transparent;
	border: 0;
}

/*
* Style `code` elements which are direct children of `pre` elements.
*/
.main pre > code {
	background: transparent;
	border: 0;
}

.main kbd {
	background-color: #fcfcfc;

	border: solid 1px #ccc;
	border-bottom-color: #bbb;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: inset 0 -1px 0 #bbb;
	-moz-box-shadow: inset 0 -1px 0 #bbb;
	box-shadow: inset 0 -1px 0 #bbb;
}

/*
* Define a top border. Useful for things like separating sections.
*/
.border-top {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #e9ecef;
}

/*
* Define a diffuse shadow. Useful for things like images.
*/
.diffuse-shadow {
	-webkit-box-shadow: #e2e2e2 0 0 50px 0;
	-moz-box-shadow: #e2e2e2 0 0 50px 0;
	box-shadow: #e2e2e2 0 0 50px 0;
}
